body {
  display: flex;
  justify-content: center;
  margin: 0;
}

@keyframes stop-clock-long {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stop-clock-short {
  100% {
    transform: rotate(360deg);
  }
}

.radio {
  margin-left: -7px;
  background-color: blue;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.long-hand {
  background-color: blue;
  height: 200px;
  width: 15px;
  animation: stop-clock-long 60s infinite steps(60);
  transform-origin: 40% 100%;
  border-radius: 10px;
  margin-bottom: -15px;
}

.short-hand {
  background-color: red;
  margin-top: -171px;
  height: 150px;
  width: 15px;
  border-radius: 10px;
  animation: stop-clock-short 3600s infinite steps(60);
  transform-origin: 0 100%;
  z-index: 0;
}

.main {
  height: 560px;
  width: 560px;
  background-color: aqua;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  line-height: 560px;
  position: relative;
}

.content {
  position: absolute;
  top: 75px;
}
